In [12]:
import pandas as pd
import numpy as np

## Acceptance Rate By Date

What is the overall friend acceptance rate by date? Your output should have the rate of acceptances by the date the request was sent. Order by the earliest date to latest.


Assume that each friend request starts by a user sending (i.e., user_id_sender) a friend request to another user (i.e., user_id_receiver) that's logged in the table with action = 'sent'. If the request is accepted, the table logs action = 'accepted'. If the request is not accepted, no record of action = 'accepted' is logged.

In [13]:
#fb_friend_requests = pd.read_clipboard()
#fb_friend_requests.to_csv('fb_friend_requests.csv',index=False)
fb_friend_requests = pd.read_csv('fb_friend_requests.csv')
fb_friend_requests.head()

  user_id_sender user_id_receiver                 date    action
0      ad4943sdz       948ksx123d  2020-01-04 00:00:00      sent
1      ad4943sdz       948ksx123d  2020-01-06 00:00:00  accepted
2     dfdfxf9483       9djjjd9283  2020-01-04 00:00:00      sent
3     dfdfxf9483       9djjjd9283  2020-01-15 00:00:00  accepted
4  ffdfff4234234      lpjzjdi4949  2020-01-06 00:00:00      sent

In [22]:
df_sent = fb_friend_requests[fb_friend_requests['action']=='sent']
df_accept = fb_friend_requests[fb_friend_requests['action']=='accepted']

In [23]:
df_sent

   user_id_sender user_id_receiver                 date action
0       ad4943sdz       948ksx123d  2020-01-04 00:00:00   sent
2      dfdfxf9483       9djjjd9283  2020-01-04 00:00:00   sent
4   ffdfff4234234      lpjzjdi4949  2020-01-06 00:00:00   sent
5     fffkfld9499      993lsldidif  2020-01-06 00:00:00   sent
7      fg503kdsdd        ofp049dkd  2020-01-04 00:00:00   sent
9      hh643dfert       847jfkf203  2020-01-04 00:00:00   sent
10     r4gfgf2344       234ddr4545  2020-01-06 00:00:00   sent

In [24]:
df_accept

   user_id_sender user_id_receiver                 date    action
1       ad4943sdz       948ksx123d  2020-01-06 00:00:00  accepted
3      dfdfxf9483       9djjjd9283  2020-01-15 00:00:00  accepted
6     fffkfld9499      993lsldidif  2020-01-10 00:00:00  accepted
8      fg503kdsdd        ofp049dkd  2020-01-10 00:00:00  accepted
11     r4gfgf2344       234ddr4545  2020-01-11 00:00:00  accepted

In [25]:
# left join df_sent with df_accept
df_action = df_sent.merge(df_accept, how = 'left', on = ['user_id_sender', 'user_id_receiver'], suffixes = ['_sent', '_accept'])

In [26]:
df_action

,user_id_sender,user_id_receiver,date_sent,action_sent,date_accept,action_accept
0,ad4943sdz,948ksx123d,2020-01-04 00:00:00,sent,2020-01-06 00:00:00,accepted
1,dfdfxf9483,9djjjd9283,2020-01-04 00:00:00,sent,2020-01-15 00:00:00,accepted
2,ffdfff4234234,lpjzjdi4949,2020-01-06 00:00:00,sent,NaN,NaN
3,fffkfld9499,993lsldidif,2020-01-06 00:00:00,sent,2020-01-10 00:00:00,accepted
4,fg503kdsdd,ofp049dkd,2020-01-04 00:00:00,sent,2020-01-10 00:00:00,accepted
5,hh643dfert,847jfkf203,2020-01-04 00:00:00,sent,NaN,NaN
6,r4gfgf2344,234ddr4545,2020-01-06 00:00:00,sent,2020-01-11 00:00:00,accepted

In [27]:
# group by date_sent to create a new table
df_rate = df_action.groupby('date_sent').count().reset_index()

In [28]:
df_rate

,date_sent,user_id_sender,user_id_receiver,action_sent,date_accept,action_accept
0,2020-01-04 00:00:00,4,4,4,3,3
1,2020-01-06 00:00:00,3,3,3,2,2

In [29]:
# calculate the rate
df_rate['acceptance_rate'] = df_rate['action_accept']/df_rate['action_sent']
df_rate[['date_sent', 'acceptance_rate']]

             date_sent  acceptance_rate
0  2020-01-04 00:00:00         0.750000
1  2020-01-06 00:00:00         0.666667